.top-display{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;   
    padding-left: 5px; 
    justify-content:space-between;
    background-color: beige;
}

.high-score{
    color:blueviolet;
    font-size: 1.0rem
}

.timer{
   color: rgb(13, 13, 14);
   font-size: 1.0rem;
}

.start{
    text-align: center;
}

h1{
    padding: 20px;
    font-size: 28px;
    font-weight: 900;

}
p{
    padding: 10px;
    font-size: 16px;
}
h2{
    padding: 25px;
    font-size: 20px;
    font-weight: 900; 
}

button{
    background-color: blueviolet;
    width: 100px;
    height: 25px;
    border-radius: 7px;
    justify-content: center;
    color: aliceblue;


}  
 
.hide{
    display: none
}

.options{
    padding: 10px;
}